aksdatafact/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aksdatafact"
		},
		"ls_backenddata_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_backenddata'"
		},
		"ls_bronzedata_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'ls_bronzedata'"
		},
		"ls_datacleaning_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_datacleaning'"
		},
		"ls_gitbackenddata_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'ls_gitbackenddata'"
		},
		"ls_ETLprocess_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_ETLprocess'"
		},
		"ls_bronzedata_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://bronzeraw1.dfs.core.windows.net/"
		},
		"ls_bronzedata_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "a4a689b5-fe77-4b28-aba4-5dd42d1bdc86"
		},
		"ls_bronzedata_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "3a3f621a-cbb2-427c-966a-af4f46594f31"
		},
		"ls_datacleaning_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0309-001021-mhttksn9"
		},
		"ls_gitbackenddata_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "Akshith-98"
		},
		"ls_ETLprocess_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0309-001021-mhttksn9"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_backenddata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_backenddata_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_bronzedata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_bronzedata_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_bronzedata_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_bronzedata_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('ls_bronzedata_servicePrincipalCredential')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datacleaning')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-400389295588420.0.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_datacleaning_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_datacleaning_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_gitbackenddata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('ls_gitbackenddata_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('ls_gitbackenddata_credential')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEFERURBMkUzLTZBNUEtNDY5Mi04MTE0LTI4NDRFRjRBMTM1Q184YjlhMGVkNC1lNjNhLTQzODMtYjliMy00ZmU4NzZkZGE0MGQiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ETLprocess')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-400389295588420.0.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_ETLprocess_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_ETLprocess_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_backenddata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_backenddata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "backenddata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "account_id",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "account_type",
						"type": "String"
					},
					{
						"name": "balance",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_backenddata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronzedata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_bronzedata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(utcnow(), 'yyyy/MM/dd')",
							"type": "Expression"
						},
						"fileSystem": "raw-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_bronzedata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronzedata1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_bronzedata",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "directdata",
						"fileSystem": "raw-bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_bronzedata')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_backenddata",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronzedata1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Data Cleaning and transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Data Cleaning and Transformation"
						},
						"linkedServiceName": {
							"referenceName": "ls_datacleaning",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL processing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Data Cleaning and transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/ETL PROCESSING"
						},
						"linkedServiceName": {
							"referenceName": "ls_ETLprocess",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_backenddata')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronzedata1')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_datacleaning')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_ETLprocess')]"
			]
		}
	]
}